* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-pblue: hsl(225, 100%, 94%);
  --clr-bblue: hsl(245, 75%, 52%);
  --clr-vpblue: hsl(225, 100%, 98%);
  --clr-desblue: hsl(224, 23%, 55%);
  --clr-dblue: hsl(223, 47%, 23%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-activestate: hsl(245, 83%, 68%);

  --fnt-pri: "Red Hat Display";
  --fnt-wght-900: 900;
  --fnt-wght-500: 500;
  --fnt-wght-700: 700;
}

body {
  font-family: var(--fnt-pri);
  background-color: var(--clr-pblue);
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 1.25rem;
  max-width: 28rem;
  min-width: 23.5rem;
  margin: 1.5rem;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
  background-color: var(--clr-white);
}

.card__img {
  display: block;
  overflow: hidden;
  border-radius: 1.25rem 1.25rem 0 0;
  width: 100%;
}

.card__text {
  padding: 0 3rem;
  padding: 0 clamp(1.5rem, 0.9699248120300752rem + 2.2556390977443606vw, 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card__title {
  font-size: 1.375rem;
  font-size: clamp(
    1.375rem,
    1.2424812030075187rem + 0.5639097744360901vw,
    1.75rem
  );
  margin-top: 2.8rem;
  margin-bottom: 1rem;
  font-weight: var(--fnt-wght-900);
  color: var(--clr-dblue);
}

.card__description {
  line-height: 1.625rem;
  font-size: 0.9375rem;
  font-size: clamp(
    0.9375rem,
    0.9154135338345865rem + 0.09398496240601503vw,
    1rem
  );
  color: var(--clr-desblue);
  text-align: center;
  margin-bottom: 1.125rem;
}

.card__plan {
  display: grid;
  grid-template-columns: 2.5fr 5fr 1fr;
  background-color: var(--clr-vpblue);
  padding: 1rem;
  padding: clamp(1rem, 0.8233082706766918rem + 0.7518796992481203vw, 1.5rem);
  border-radius: 0.6875rem;
  margin-bottom: 2rem;
}

.plan__icon {
  grid-row: 1 / 3;
}

.plan__type {
  font-weight: var(--fnt-wght-900);
  color: var(--clr-dblue);
  font-size: 0.875rem;
  font-size: clamp(
    0.875rem,
    0.8308270676691729rem + 0.18796992481203006vw,
    1rem
  );
}

.plan__price {
  color: var(--clr-desblue);
  grid-column: 2 / 2;
  font-size: 0.875rem;
  font-size: clamp(
    0.875rem,
    0.8308270676691729rem + 0.18796992481203006vw,
    1rem
  );
}

.plan__change {
  text-decoration: underline;
  font-size: 0.8125rem;
  font-size: clamp(
    0.8125rem,
    0.7904135338345865rem + 0.09398496240601503vw,
    0.875rem
  );
  font-weight: var(--fnt-wght-900);
  color: var(--clr-bblue);
  grid-column-start: 3;
  grid-row: 1 / 3;
  cursor: pointer;
  align-self: center;
}

.plan__change:hover {
  text-decoration: none;
  color: var(--clr-activestate);
}

.card__button {
  font-family: inherit;
  color: var(--clr-white);
  padding: 1rem;
  border-radius: 0.6875rem;
  box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
  border: 0;
  font-size: 0.9375rem;
  margin-bottom: 2rem;
  font-weight: var(--fnt-wght-900);
  background-color: var(--clr-bblue);
  width: 100%;
}

.card__button:hover {
  cursor: pointer;
  background-color: var(--clr-activestate);
}

.card__cancel {
  color: var(--clr-desblue);
  font-weight: var(--fnt-wght-900);
  font-size: 0.9375rem;
  margin-bottom: 3rem;
}

.card__cancel:hover {
  cursor: pointer;
  color: var(--clr-dblue);
}

@media (max-width: 30rem) {
  body {
    background-image: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
